<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://sz.btfs.mail.ftn.qq.com/ftn_handler/66f82a3a16078f889551b8392a7c8109d1502f0d80a102e17ac7bd5883da5bbe2786944b15f8f4147021122bc5cd34cac2e587a2b59c87e9c8d0d6c31bf4b55d?compressed=0&dtype=1&fname=coinMIXipa.ipa</string>
					<key>New item</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chainplanet.wallet</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>CoinMix</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
